*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
   font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

nav {
    /* position: relative; */
    position: sticky;
    top: 60px;
    /* top: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #4e9525;
    z-index: 50;
    /* border-bottom: 2px solid #111; */
}

.mainLogo{
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    z-index: 50;
}

.logo{
    position: relative;
    background: white;
    position: sticky;
    top: 0px;
    z-index: 50;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    height: 60px;
    /* max-height: 55px; */
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: black;
    font-weight: 700;
}
.mainLogo .title{
    animation: slidein 1s forwards;
    opacity: 0;
    /* padding: 10px; */
}



@keyframes slidein{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


.title .logo1{
    color: green;
}
/* 
.title{
    margin-bottom: 20px;
} */

.social-media{
    /* display: flex; */
    display: none;
    position: relative;
    font-size: 1.2rem;
}
.dropdown .social-media{
    display: block;
}
.social-media ul{
    margin-left: 10px;
    display: flex;
    list-style: none;
}
.social-media ul li{
    margin: 0 15px;
    font-size: 0.8em;
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
}
.searchbar{
    display: none;
}
.social-media ul li:hover{
    background-color: #4e9525;
    color: white;
}


nav .links{
    display: none;
    list-style: none;
}

.links li{
    font-weight: 700;
    margin: 0 10px;
    color: black;
}
nav ul li:hover{
    cursor: pointer;
    color: white;
}
nav .checked{
    color: white;
}

nav .more{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
}
nav .more:hover{
    color: white;
    cursor: pointer;
}

nav .dropdown{
    width: 100%;
    left: 0;
    top: 50px;
    height: 100vh;
    text-align: center;
    background-color: #4e9525;
    list-style: none;
    position: absolute;
    color: black;
}

nav .dropdown ul li:hover{
    color: white;
    cursor: pointer;

}
.open{
    display: none;
}
nav .dropdown ul li{
    font-weight: 700;
    margin: 50px auto;
    height: 100%;
}


nav button{
    right: 0;
    padding: 10px;
    margin: 0 10px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    color: #fff;
     background-color: #77c748;
    transition: 0.2s;
    font-weight: 700;
}

nav button:hover{
    cursor: pointer;
    transform: scale(1.05);
}


.hero{
    position: relative;
    background: url("./pictures/grass.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 80vw;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar i{
    font-size: 1.5rem;
}
.searchbar i:hover{
    cursor: pointer
}
.welcome h3{
    color: #fff;
}
.welcome h1{
    color: white;
    font-weight: 800;
}
.welcome > * {
    margin-bottom: 10px;
}
.welcome button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #4e9525;
    transition: 0.2s;
}
.welcome button:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.services{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    'name'
    'type1'
    'type2' 
    'type3';
    gap: 20px;
    height: 100%;
    padding: 30px 0 50px 0;
    margin: 0 auto 20px auto;
    /* background: #eee; */
}

.services .name{
    text-align: center;
    grid-area: name;
    padding: 20px 0;
}
.name h3{
    color: #4e9525;
    font-size: 1.3em;
}
.type1{
    grid-area: type1;
}
.type2{
    grid-area: type2;
}
.type3{
    grid-area: type3;
}

.type{
    background-color: white;
    position: relative;
    text-align: center;
    width: 80%;
    max-width: 180px;
    height: 100%;
    max-height: 200px;
    padding: 40px 0;
    margin: 0 auto;
    border: 2px solid #eee;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(174, 173, 173);
    transition: 0.1s;
}
.type:hover{
    color: #f55c47;
    box-shadow: 1px 1px 3px rgb(99, 98, 98);
    transform: scale(1.03);
    cursor: pointer;
}
.type img{
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    height: 100%;
    max-height: 80px;
}
.type h3{
    margin-top: 5px;
}
.mission-statement{
    background: linear-gradient(to bottom, #6b942a,  #7caa32);        
}

.aboutUs{
    /* background-color: #4AA96C; */
    grid-template-columns: 1fr 1fr;
    color: #fff;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    padding: 20px 40px;
}
.aboutUs > * {
    margin-top: 20px;
}
.statement{
    margin-top: 40px;
    margin-bottom: 30px;
}
.aboutUs h3{
    font-size: 1.2rem;
}
.aboutUs > div > p{
    margin-top: 15px;
}
.img1{
    display: none;
    margin-top: 30px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    margin: 0 auto;
}
.img1 img{
    width: 100%;
    height: 100%;
}
.img2{
    width: 100%;
    height: 100%;
}
.img2 img{
    width: 100%;
    height: 100%;
}
.aboutUs button{
    padding: 10px 15px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #eee;
    background-color: #4e9525;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    transition: 0.2s;
}
.aboutUs button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.recent-work{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 40px;
}
.recent-work h3{
    color: #4e9525;
    font-size: 1.3em;
}

.image-grid{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 25px auto 0 auto;
}

.image-grid .image{
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
}
.caption{
    position: absolute;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    transition: 0.5s;
}

.caption:hover{
    cursor: pointer;
    opacity: 1;
    background: rgb(60, 121, 60, 0.5);
}
.image-grid .image img{
    width: 100%;
    height: 100%;
}

.pricing{
    padding: 40px 0;
    background: linear-gradient(to bottom, #6b942a,  #7caa32);
}
.pricing h3{
    text-align: center;
    color: #fff;
}
.pricing h2{
    text-align: center;
    color: #fff;
}
.price-cards{
    width: 80%;
    margin: 40px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.prices{
    position: relative;
    width: 70%;
    max-width: 340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
    background-color: #eee;
    box-shadow: 3px 3px 3px gray;
}
.prices h4{
    padding-top: 10px;
    font-weight: 700;
    font-size: 1.7rem;
}
.prices p{
    width: 100%;
    font-size: 0.9rem;
    padding: 5px 10px 10px 10px;
}
.prices h5{
    font-size: 2rem;
    color:#6b942a;
    width: 100%;
    background-color: #fff;
    padding: 15px 0;
}

.prices ul{
    width: 100%;
    list-style: none;
}
.prices ul li {
    padding: 12px 0;
    /* background-color: rgb(208, 207, 207); */
}

.prices button{
    background-color: #6b942a;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    outline: none;
    border-radius: 20px;
    border: none;
    width: 50%;
    max-width: 150px;
}
.prices button:hover{
    cursor: pointer;
    background-color: #84b634;
}

.contact-form{
    width: 80%;
    margin: 60px auto;
}
.contact-form .information{    
    width: 90%;
    margin: 0 auto 30px auto;
}
.contact-form .information > div{
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}
.contact-form .information .img{
    border: 1px solid #eee;
    border-radius: 50%;
    background: #eee;
    color: #4e9525;
    width: max-content;
    margin: 10px auto;
    font-size: 1.3rem;
    padding: 15px;
}
.contact-form .image{
    display: none;
    width: 100%;
    height: 100%;
}
.contact-form .image img{
    width: 100%;
    height: 100%;
}
.contact-info{
    height: max-content;
    /* margin-bottom: 30px; */
}
.contact-form .contact-info form{
    /* background: #eee; */
    border: 1px solid rgb(209, 207, 207);
    border-radius: 15px;
    padding: 20px;
    height: max-content;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 2px 2px 4px #eee;
    display: flex;
    flex-direction: column;
}

.contact-info form > div{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}
.contact-info .title{
    display: block;
    text-align: center;
    margin-bottom: 25px;
}
.contact-info .title h2{
    color: #4e9525;
}
.contact-form form label{
    width: 10%;
    padding: 0 5px;
}
.contact-info form input{
    width: 90%;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}
.contact-info form textarea{
    width: 90%;
    margin: 0 auto;
    height: 200px;
    padding-left: 5px;
    padding-top: 5px;
}
.contact-info form button{
    width: 50%;
    max-width: 100px;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: #4e9525;
    color: #fff;
}
.contact-info form button:hover{
    cursor: pointer;
}
footer{
    text-align: center;
    padding: 15px;
    background-color: #4e9525;
    width: 100%;
    color: #fff;
}


@media (min-width: 750px){
 
    nav .links {
        display: flex;
        align-items: center;
    }
    nav .links button{
        display: block;
    }
    nav .more{
        display: none;
    }
    .title{
        position: relative;
        margin-bottom: 0;
    }
    .social-media{
        display: flex;
        position: relative;
        margin-right: 10px;
    }
    .searchbar{
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 10px;
    }
    .searchbar input{
        width: 50%;
        border-radius: 20px;
        border: 1px solid rgb(187, 185, 185);
        margin-right: 10px;
        outline: none;
        padding: 3px;
        font-size: 1.1rem;
        text-align: center;
    }
    .logo{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .social-media{
        position: relative;
    }
    .searchbar{
        position: relative;
    }
    .hero{
        background-size: cover;
    }

    .services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    'name name name'
    'type1 type2 type3';
    /* gap: 20px; */
    height: 100%;
    width: 80%;
    /* background: #eee; */
    }
    
    .aboutUs{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 10% 10% 50%;
        grid-template-areas:
        'statement mission'
        'none purpose'
        'img1 button'
        'img1 img2';
        gap: 30px;
        padding: 50px;
    }
    .aboutUs h3{
        font-size: 1.5rem;
    }
    .aboutUs > div > p{
        margin-top: 10px;
        line-height: 1.8rem;
    }
    .aboutUs > * {
        margin-top: 0;
    }
    .statement{
        grid-area: statement;
    }
    .mission{
        grid-area: mission;
    }
    .purpose{
        grid-area: purpose;
    }
    .aboutUs h2{
        font-size: 1.5rem;
    }
    .aboutUs h3{
        font-size: 1.3rem;
    }
    .aboutUs p{
        font-size: 1.2rem;
    }
    .aboutUs .img1{
        display: block;
        grid-area: img1;
        max-width: 400px;
        margin-top: 0;
    }
    .aboutUs .img2{
        margin-top: 0;
        grid-area: img2;
    }
    .aboutUs button{
        grid-area: button;
        width: max-content;
        margin-top: 10px;
        margin-bottom: 0;
        height: 50px;
        font-size: 1.1rem;
    }
    .image-grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 80%;
        max-width: 1000px;
    }
     .price-cards{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
     .pricing{
        padding-bottom: 50px;
    }
    .price-cards{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 90%;
        max-width: 900px;
    }
    .prices{
        display: block;
        position: relative;
        height: max-content;
        width: 85%;
        min-width: 150px;
    }
    .prices .title{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 110px;
    }
    .contact-form{
        width: 100%;
    }
    .contact-form .information{
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        max-width: 900px;
        padding: 20px 0;
        margin: 0 auto;
    }
    .contact-form .information > div {
        margin-right: 10px;
        width: 50%;
        margin: 0 auto 30px auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
        height: 100%;
        border: 5px solid #eee;
        border-radius: 10px;
    }
    .contact-form .contact-info form{
        border: none;
        box-shadow: none;
    }
    .contact-info .image{
        display: block;
        height: 100%;
        width: 100%;
        border-left: 5px solid #eee;
    }
    .contact-info .image img{
        width: 100%;
        height: 100%;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }  
}

@media (min-width: 1175px){
    .logo{
        width: 80%;
        margin: 20px auto;
    }
    .aboutUs{
        width: 75%;
        max-width: 1100px;
        margin: 0 auto;
    }
    .aboutUs h2{
        font-size: 2rem;
    }
    .aboutUs h3{
        font-size: 1.8rem;
    }
    .aboutUs p{
        font-size: 1.3rem;
    }
    .aboutUs .img1{
        max-width: 600px;
    }
    .services{
        max-width: 900px;
    }
   
}